*{
    margin: 0;
    padding:0;
}
.road{
    height:100vh;
	background-image: url('../img/road.jpg');
    background-size: cover;   
}

.car{
    height:150px;
    margin-top:300px;
    margin-left:0px;

    animation-name: car-move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-direction: alternate;
}

.wheel-1{
    height:80px;
    position: absolute;
    margin-top:350px;
    margin-left:-420px;
    
    animation-name: wheel-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.wheel-2{
    height:80px;
    position: absolute;
    margin-top:350px;
    margin-left:-150px;

    animation-name: wheel-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes wheel-rotate{
    from{
        trnasform:rotate(360deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes car-move {
    from{
        margin-left:0px;
    }
    to{
        margin-left:600px;
    }
}